@charset "utf-8";

/*---------------*/
/* 全体 */
/*---------------*/
body {
    background-color: #000000;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    font-family: sans-serif, メイリオ, Meiryo;
}

.box {
    opacity: 0;
    transition: opacity 1s, background-color 0.4s;
}

/*---------------*/
/* 動画エリア */
/*---------------*/
.video-area {
    width: 100%;
    transition: all 0.6s;
    opacity: 1;
    position: absolute;
    top: 2%;
}