@charset "utf-8";

/*---------------*/
/* 全体          */
/*---------------*/
.box::before {
    z-index: 10;
    width: 100%;
    height: 100%;

    z-index: 150;
    content: "";
    display: block;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 1) 100%);
    position: fixed;
    top: -140px;
    left: 0;
    right: 0;
    margin: 0;
    pointer-events: none;
}

/*---------------*/
/* タイトル      */
/*---------------*/
.title-area {
    z-index: 200;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.title-txt {
    opacity: 0;
    transition: opacity 0.3s;
}

.title .title-wrap {
    position: relative;
    display: inline-block;
    margin-top: 5px;
}

.title.is-animated .title-wrap::before {
    animation: title 3s cubic-bezier(0.3, 1, 0.7, 1) forwards;
    background: #333333;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: left center;
    clip-path: polygon(0% 100%, 12.5% 0%, 100% 0%, 87.5% 100%);
}

.title .title-wrap .title-txt {
    color: #fff;
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    width: 500px;
    padding: 15px 20px 20px;
    position: relative;
    text-align: center;
}

@keyframes title {
    0% {
        opacity: 0;
        transform: scaleX(0) translateX(0);
    }

    20% {
        transform: scaleX(1) translateX(0);
    }

    80% {
        transform: scaleX(1) translateX(0);
    }

    100% {
        transform: scaleX(0) translateX(0);
    }

    30%,
    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*---------------*/
/* 画像エリア    */
/*---------------*/
.pic-area {
    width: 100%;
    transition: all 1.0s ease;
}

.pic-event {
    width: 100%;
    z-index: 10;
    margin: 100px 0px 100px 0px;
    transition: all 0.8s ease-in;
}

.pic-main {
    filter: brightness(100%);
}

.pic-odd {
    filter: brightness(20%);
}

.pic-time {
    height: 900px;
}

/*---------------*/
/* 操作エリア    */
/*---------------*/
.trans-next {
    z-index: 200;
    position: absolute;
    top: 60%;

    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    transition: all 0.15s ease;
}

.trans-prev {
    z-index: 200;
    position: absolute;
    top: -7%;

    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    transition: all 0.15s ease;
}

.trans-next {
    z-index: 200;
    position: absolute;
    top: 60%;

    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    transition: all 0.15s ease;
}