@charset "utf-8";

html, body {
  margin: 0;
  background: #000;
  overflow: hidden;
}

/* 動画表示エリア */
#videoContainer {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}

#videoWrap {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  will-change: transform;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

#video {
  width: 100%;
  height: 100dvh;
  object-fit: cover;
}

/* フェード用 */
#fade {
  position: absolute;
  inset: 0;
  background: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease;
}

#fade.black {
  background: black;
}

#fade.show {
  opacity: 1;
}

/* タイトル */
.title-area {
  z-index: 200;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.title-txt {
  opacity: 0;
  transition: opacity 0.3s;
}

.title .title-wrap {
  position: relative;
  display: inline-block;
  margin-top: 5px;
}

.title.is-animated .title-wrap::before {
  animation: title 3s cubic-bezier(0.3, 1, 0.7, 1) forwards;
  background: #333333;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: left center;
  clip-path: polygon(0% 100%, 12.5% 0%, 100% 0%, 87.5% 100%);
}

.title .title-wrap .title-txt {
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  width: 230px;
  padding: 10px 20px 10px;
  position: relative;
  text-align: center;
}

@keyframes title {
  0% {
    opacity: 0;
    transform: scaleX(0) translateX(0);
  }

  20% {
    transform: scaleX(1) translateX(0);
  }

  80% {
    transform: scaleX(1) translateX(0);
  }

  100% {
    transform: scaleX(0) translateX(0);
  }

  30%,
  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}