@charset "utf-8";

.chr-area {
    display: flex;
    height: 1820px;
}

.animating {
    animation: pop 0.4s ease;
}

@keyframes pop {
    0% {
        transform: scale(1);
        opacity: 1.0;
    }

    50% {
        transform: scale(0.90);
        opacity: 0.9;
    }

    100% {
        transform: scale(1);
        opacity: 1.0;
    }
}

/*---------------*/
/* 画像エリア */
/*---------------*/
.pic-area {
    position: absolute;
    top: 3%;
    left: 1%;
    transition: all 0.6s;
    opacity: 0;
    mask-image:
        linear-gradient(to right,
            rgba(255, 0, 0, 0) 0%,
            rgba(255, 0, 0, 1) 10%,
            rgba(255, 0, 0, 1) 90%,
            rgba(255, 0, 0, 0) 100%);

}

.pic {
    z-index: 20;
    transition: all 0.4s ease;
    object-fit: cover;
    width: 640px;
    height: 1680px;
    transform: translateX(100px);
    animation: slideIn 0.8s ease forwards;
    mask-image:
        linear-gradient(to bottom,
            rgba(255, 0, 0, 1) 0%,
            rgba(255, 0, 0, 1) 10%,
            rgba(255, 0, 0, 1) 90%,
            rgba(255, 0, 0, 0) 100%);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.pic-block {
    transition: all 0.6s;
}

.pic-def {
    opacity: 1;
    transform: scale(1);
}

.pic-clk {
    opacity: 0.5;
    transform: scale(0.95);
}

.disp-area {
    z-index: 10;
    flex: 7;
    /* 全体の60% */
    display: flex;
}

.btn-area {
    z-index: 30;
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(30, 30, 30, 0.9);
    padding: 300px 20px 20px 20px;
    gap: 130px;
}

.chr {
    width: 200px;
    height: 200px;
    border: 5px solid;
    border-radius: 50%;
    background: #444;
    transition: background 0.2s;
    background-size: contain;
}

.chr-AK {
    background-image: url(../pic/AK/icon.png);
    border-color: #ff1493;
}

.chr-SA {
    background-image: url(../pic/SA/icon.png);
    border-color: #00bfff;
}

.chr-FF {
    background-image: url(../pic/FF/icon.png);
    border-color: #00FF6E;
}

.chr-back-AK {
    background-color: #FF80B6;
}

.chr-back-SA {
    background-color: #80DFFF;
}

.chr-back-FF {
    background-color: #80FFB7;
}